# Database configuration
DB=mysql
DB_HOST=jdbc:mysql://localhost
DB_PORT=3306
DB_NAME=aws_shop
DB_SETTINGS=serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ANALYTICS_KAFKA_ENABLED=true
ANALYTICS_TOPIC_SEARCH=search-events
ANALYTICS_TOPIC_PRODUCT_VIEW=product-view-events
ANALYTICS_TOPIC_CART=cart-events
ANALYTICS_TOPIC_PURCHASE=purchase-events
ANALYTICS_CONSUMER_GROUP_ID=analytics-event-consumer-group
